host={{ ansible_tools_tower_config_host }}
password={{ ansible_tools_tower_config_password }}
username={{ ansible_tools_tower_config_username }}
verify_ssl={{ ansible_tools_tower_config_verify_ssl }}
